# Ignore  .md files 
*.md

# Allow the README.md file 
!/README.md
!docs/*.md
!evaluations/*.md


# Build outputs
src/out/*
!src/out/.keep

tests/out/*
!tests/out/.keep

samples/**/out/*
!samples/**/out/.keep

*.exe
*.pdb

# Editor
ols.json
*.code-workspace
